<% provide(:title, 'All Campaigns') %>
<h1>All Campaigns</h1>

<ul class="campaigns">
  <% @campaigns.each do |campaign| %>
    <li>
      <%= link_to campaign.name, campaign %>
    </li>
  <% end %>
</ul>