<h1>All Campaigns</h1>

<div class='table'>
  <table>
    <tbody>
      <tr>
        <th>Campaign</th>
      </tr>

      <% @campaigns.each do |campaign| %>
        <tr>  
          <td><%= campaign.name %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
