<h1>Campaign: <%= @campaign.name %></h1>

<table> 
  <tr>
    <th>Candidate</th>
    <th>Score</th>
  </tr>

  <% @duplicate_names.each do |key,value| %>
    <tr>  
      <td><%= key.name %></td>
      <td><%= value %></td>
    </tr>
  <% end %>
  </table>

</ul>